@using Web.Models.Extensions
@using Web.SafeModels

@code {
    [Parameter]
    public CommentSafe Model { get; set; }

    [Parameter]
    public EventCallback<Guid> OnDeleteClicked { get; set; }
}

<div class="panel panel-filled panel-c-white">
    <div class="panel-body flex-row">
        <Avatar UserName="@Model.Author.DisplayName" AvatarName="@Model.Author.Avatar" Mini="@true" Class="m-r"/>
        <div style="width: 100%">
            @if (HasModerateAccess)
            {
                <div class="pull-right">
                    <a class="btn btn-xs btn-default" @onclick="OnDeleteClick"><i class="far fa-trash"></i></a>
                </div>
            }
            <div>
                <a href="/profile/@Model.Author.DisplayName">@Model.Author.DisplayName</a>
                @Model.CreateDate.ToFormattedString()
            </div>
            <div>
                @Model.Content.AsMarkupString()
            </div>
        </div>
    </div>
</div>

@code {
    private bool HasModerateAccess { get; set; }
    
    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        HasModerateAccess = authState.User?.HasModerateAccess() == true;
        StateHasChanged();
    }
    
    private async Task OnDeleteClick()
    {
        await OnDeleteClicked.InvokeAsync(Model.Id);
    }
}
