@{
    LayoutSettings settings = ViewBag.Settings ?? new LayoutSettings();
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Cerberus</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        @foreach (var path in settings.LibraryManager.GetCssFiles())
        {
            <link rel="stylesheet" href="@path"/>
        }
        <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/lib/font-awesome-pro/css/all.css" />
        <script src="~/lib/jquery/dist/jquery.js"></script>
        @*<script defer src="~/lib/font-awesome-pro/js/all.js"></script>*@
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
        @foreach (var path in settings.LibraryManager.GetCssFilesMinimized())
        {
            <link rel="stylesheet" href="@path"/>
        }
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/lib/font-awesome-pro/css/all.min.css" />
        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        @*<script defer src="~/lib/font-awesome-pro/js/all.min.js"></script>*@
    </environment>
    
    <script crossorigin src="https://cdnjs.cloudflare.com/ajax/libs/react/16.8.0/umd/react.development.js"></script>
    <script crossorigin src="https://cdnjs.cloudflare.com/ajax/libs/react-dom/16.8.0/umd/react-dom.development.js"></script>
</head>
<body class="pace-done">
    @switch (settings.NavbarType)
    {
        case NavbarType.Regular:
            <partial name="Navbars/Regular"/>
            break;
        case NavbarType.Admin:
            <partial name="Navbars/Admin"/>
            break;
    }
    <div class="container @(settings.IsContainerCentered ? "container-center" : "") body-content">
        @RenderBody()
    </div>

    @if (settings.IsFooterVisible)
    {
        @Html.React("Footer", new {}, serverOnly: true)
    }

    <environment include="Development">
        <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
        <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        @foreach (var path in settings.LibraryManager.GetJsFiles())
        {
            <script src="@path"></script>
        }
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
        <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
        @foreach (var path in settings.LibraryManager.GetJsFilesMinimized())
        {
            <script src="@path"></script>
        }
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("Scripts", false)
    @Html.ReactInitJavaScript()
</body>
</html>
