@{
    var notificationsNumber = await DataHelper.GetNumberOfUnreadNotificationsAsync(User);
}
<nav class="navbar navbar-default navbar-static-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand">
                NLATE
            </a>
        </div>
        <div id="navbar" class="flex-row justify-between">
            <ul class="nav navbar-nav cerberus-nav flex-row align-center">
                <li class="@ViewContext.FillClassIfActive("WebNovel")">
                    <a asp-area="" asp-controller="WebNovel" asp-action="Index">@Localizer["MenuItem_WebNovels"]</a>
                </li>
            </ul>
            <ul class="nav navbar-nav cerberus-nav flex-row align-center">
                @if (User?.Identity?.IsAuthenticated == true)
                {
                    <li class="@ViewContext.FillClassIfActive("Notifications")">
                        <a asp-area="" asp-controller="Notifications" asp-action="Index">
                            @if (notificationsNumber > 0)
                            {
                                <i class="fas fa-bell" data-count="@notificationsNumber"></i>
                            }
                            else
                            {
                                <i class="fas fa-bell"></i>
                            }
                        </a>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            <i class="fas fa-user"></i>
                            @User.GetDisplayName()
                        </a>
                        <ul class="dropdown-menu">
                            @if (User.IsAdmin())
                            {
                                <li class="text-accent">
                                    <a asp-area="" asp-controller="Settings" asp-action="Index">
                                        <i class="far fa-cog m-r-xs"></i>
                                        @Localizer["DropDown_SiteSettings"]
                                    </a>
                                </li>
                            }
                            <li>
                                <a href="/profile/@User.GetDisplayName()">
                                    <i class="far fa-user-alt m-r-xs"></i>
                                    @Localizer["DropDown_Profile"]
                                </a>
                            </li>
                            <li>
                                <a asp-area="" asp-controller="Account" asp-action="Logout">
                                    <i class="far fa-power-off m-r-xs"></i>
                                    @Localizer["DropDown_SignOut"]
                                </a>
                            </li>
                        </ul>
                    </li>
                }
                else
                {
                    <li>
                        <a asp-area="" asp-controller="Account" asp-action="Login">@Localizer["MenuItem_SignIn"]</a>
                    </li>
                    <li>
                        <a asp-area="" asp-controller="Account" asp-action="Register">@Localizer["MenuItem_SignUp"]</a>
                    </li>
                }
            </ul>
        </div>
    </div>
</nav>