@model ChapterLinkInDetailsViewModel

@foreach (var chapter in Model.Chapters)
{
    foreach (var translation in chapter.Translations)
    {
        var chapterTitle = $"<b>Chapter {chapter.Number}</b>";
        if (!string.IsNullOrEmpty(translation.Title))
        {
            chapterTitle += $" - {translation.Title}";
        }

        <div class="flex-row justify-between align-center m-b-xs">
            <div>
                <img src="/images/flags/@(translation.Language.Code).png" width="20" alt="@translation.Language.GlobalName"/>
                @if (Model.WebNovel.UsesVolumes)
                {
                    <a class="c-white" asp-action="Read" asp-route-languageCode="@translation.Language.Code" asp-route-volume="@chapter.Volume" asp-route-chapterNumber="@chapter.Number" asp-route-webNovelUrl="@Model.WebNovel.UrlName">
                        @Html.Raw(chapterTitle)
                    </a>
                }
                else
                {
                    <a class="c-white" asp-action="Read" asp-route-languageCode="@translation.Language.Code" asp-route-chapterNumber="@chapter.Number" asp-route-webNovelUrl="@Model.WebNovel.UrlName">
                        @Html.Raw(chapterTitle)
                    </a>
                }
            </div>
            <div class="flex-row align-center">
                <div style="padding-right: 1em">
                    <i class="far fa-calendar-alt"></i>
                    @translation.CreationDate.ToFormattedString()
                </div>
                <div>
                    @if (Model.WebNovel.UsesVolumes)
                    {
                        <a class="btn btn-accent text-uppercase font-bold c-white" asp-action="Read" asp-route-languageCode="@translation.Language.Code" asp-route-volume="@chapter.Volume" asp-route-chapterNumber="@chapter.Number" asp-route-webNovelUrl="@Model.WebNovel.UrlName">
                            Read <i class="fas fa-chevron-right"></i>
                        </a>
                    }
                    else
                    {
                        <a class="btn btn-accent text-uppercase font-bold c-white" asp-action="Read" asp-route-languageCode="@translation.Language.Code" asp-route-chapterNumber="@chapter.Number" asp-route-webNovelUrl="@Model.WebNovel.UrlName">
                            Read <i class="fas fa-chevron-right"></i>
                        </a>
                    }
                </div>
            </div>
        </div>
    }
}