@model ChapterLinkInDetailsViewModel

@foreach (var chapter in Model.Chapters)
{
    var chapterTitle = $"<b>Chapter {chapter.Number}</b>";
    if (!string.IsNullOrEmpty(chapter.Title))
    {
        chapterTitle += $" - {chapter.Title}";
    }

    <div class="flex-row justify-between align-center m-b-xs">
        <div>
            <img src="/images/flags/@(chapter.Language.Code).png" width="20" alt="@chapter.Language.GlobalName"/>
            <a class="c-white" asp-action="Read" asp-route-chapterNumber="@chapter.Number" asp-route-webNovelUrl="@Model.WebNovel.UrlName">
                @Html.Raw(chapterTitle)
            </a>
        </div>
        <div class="flex-row align-center">
            <div style="padding-right: 1em">
                <i class="far fa-calendar-alt"></i>
                @chapter.CreationDate.ToFormattedString()
            </div>
            <div>
                <a class="btn btn-accent text-uppercase font-bold c-white" asp-action="Read" asp-route-chapterNumber="@chapter.Number" asp-route-webNovelUrl="@Model.WebNovel.UrlName">
                    Read <i class="fas fa-chevron-right"></i>
                </a>
            </div>
        </div>
    </div>
}