@model WebNovelReadViewModel

<div class="btn-group flex-row justify-center">
    @if (Model.PrevChapterContent != null)
    {
        if (Model.Translation.Chapter.WebNovel.UsesVolumes)
        {
            <a id="readPrev" class="btn btn-default" asp-action="Read"
               asp-route-languageCode="@Model.PrevChapterContent.Language.Code"
               asp-route-volume="@Model.PrevChapterContent.Chapter.Volume"
               asp-route-chapterNumber="@Model.PrevChapterContent.Chapter.Number"
               asp-route-webNovelUrl="@Model.Translation.Chapter.WebNovel.UrlName">
                <i class="fas fa-chevron-left"></i> Previous chapter
            </a>
        }
        else
        {
            <a id="readPrev" class="btn btn-default" asp-action="Read"
               asp-route-languageCode="@Model.PrevChapterContent.Language.Code"
               asp-route-chapterNumber="@Model.PrevChapterContent.Chapter.Number"
               asp-route-webNovelUrl="@Model.Translation.Chapter.WebNovel.UrlName">
                <i class="fas fa-chevron-left"></i> Previous chapter
            </a>
        }
    }
    else
    {
        <a class="btn btn-default disabled"><i class="fas fa-chevron-left"></i> Previous chapter</a>
    }
    <a class="btn btn-default"
       asp-action="Details"
       asp-route-webNovelUrl="@Model.Translation.Chapter.WebNovel.UrlName">
        Back to web novel
    </a>
    @if (Model.NextChapterContent != null)
    {
        if (Model.Translation.Chapter.WebNovel.UsesVolumes)
        {
            <a id="readNext" class="btn btn-default" asp-action="Read"
               asp-route-languageCode="@Model.NextChapterContent.Language.Code"
               asp-route-volume="@Model.NextChapterContent.Chapter.Volume"
               asp-route-chapterNumber="@Model.NextChapterContent.Chapter.Number"
               asp-route-webNovelUrl="@Model.Translation.Chapter.WebNovel.UrlName">
                Next chapter <i class="fas fa-chevron-right"></i>
            </a>
        }
        else
        {
            <a id="readNext" class="btn btn-default" asp-action="Read"
               asp-route-languageCode="@Model.NextChapterContent.Language.Code"
               asp-route-chapterNumber="@Model.NextChapterContent.Chapter.Number"
               asp-route-webNovelUrl="@Model.Translation.Chapter.WebNovel.UrlName">
                Next chapter <i class="fas fa-chevron-right"></i>
            </a>
        }
    }
    else
    {
        <a class="btn btn-default disabled">Next chapter <i class="fas fa-chevron-right"></i></a>
    }
</div>