@using Cerberus.Models.Helpers
@model WebNovelDetailsViewModel

@{
    ViewBag.Title = "Web Novels";
    var webNovel = Model.WebNovelInfo.WebNovel;
    var webNovelContent = Model.WebNovelInfo.WebNovelContent;
}

<div class="row">
    <div class="col-lg-12">
        <div class="view-header">
            <div class="header-icon">
                <i class="fal fa-book fa-sm"></i>
            </div>
            <div class="pull-right text-right">
                @if (User.HasWebNovelEditorAccess() && !webNovel.IsComplete)
                {
                    <a class="btn btn-lg btn-default" asp-action="AddWebNovelTranslation" asp-route-webNovelUrl="@webNovel.UrlName">
                        Add language
                    </a>
                    <a class="btn btn-lg btn-default" asp-action="AddChapter" asp-route-webNovelId="@webNovel.Id">
                        <i class="far fa-plus"></i>
                        Add chapter
                    </a>
                }
            </div>
            <div class="header-title">
                <h3>@webNovelContent.Name</h3>
                <small>
                    @StringHelpers.GetCommaSpaceSeparatedString(webNovel.OriginalName, webNovel.Author)
                </small>
            </div>
        </div>
        <hr>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="panel">
            <div class="panel-body">
                <div class="panel panel-filled">
                    <div class="panel-heading">Description</div>
                    <div class="panel-body">@Html.Raw(webNovelContent.Description)</div>
                </div>
                @if (webNovel.Chapters.Any(c => c.Translations.Any(d => Model.WebNovelInfo.UserLanguages.Contains(d.Language))))
                {
                    if (webNovel.UsesVolumes)
                    {
                        var volumes = webNovel.Chapters.Select(c => c.Volume).Distinct().OrderByDescending(c => c);
                        foreach (var volume in volumes)
                        {
                            <div class="panel panel-c-accent panel-filled">
                                <div class="panel-heading">Volume @volume</div>
                                <div class="panel-body">
                                    <partial name="_ChapterLinkInDetails"
                                             model="@(new ChapterLinkInDetailsViewModel
                                                      {
                                                          Chapters = webNovel.Chapters
                                                              .Where(c => c.Volume == volume)
                                                              .OrderByDescending(c => c.Translations.Select(d => d.CreationDate).OrderByDescending(d => d).FirstOrDefault()),
                                                          WebNovel = webNovel,
                                                          DisplayedLanguages = Model.WebNovelInfo.UserLanguages
                                                      })"/>
                                </div>
                            </div>
                        }
                    }
                    else
                    {
                        <div class="panel panel-c-accent panel-filled">
                            <div class="panel-heading">Chapters</div>
                            <div class="panel-body">
                                <partial name="_ChapterLinkInDetails"
                                         model="@(new ChapterLinkInDetailsViewModel
                                                  {
                                                      Chapters = webNovel.Chapters
                                                          .OrderByDescending(c => c.Translations.Select(d => d.CreationDate).OrderByDescending(d => d).FirstOrDefault()),
                                                      WebNovel = webNovel,
                                                      DisplayedLanguages = Model.WebNovelInfo.UserLanguages
                                                  })"/>
                            </div>
                        </div>
                    }
                }
                else
                {
                    <div class="panel panel-c-accent panel-filled">
                        <div class="panel-heading">Chapters</div>
                        <div class="panel-body">Sorry, there are currently no chapters available</div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>