@using Cerberus.Models.Helpers
@model WebNovelDetailsViewModel

@{
    ViewBag.Title = "Web Novels";
    var webNovel = Model.WebNovelInfo.WebNovel;
}

<div class="row">
    <div class="col-lg-12">
        <div class="view-header">
            <div class="header-icon">
                <i class="fal fa-book fa-sm"></i>
            </div>
            <div class="pull-right text-right">
                @if (User.HasWebNovelEditorAccess())
                {
                    <a class="btn btn-lg btn-default" asp-action="AddChapter" asp-route-webNovelId="@webNovel.Id">
                        <i class="far fa-plus"></i>
                        Add chapter
                    </a>
                    <a class="btn btn-lg btn-default">
                        <i class="far fa-pen"></i>
                    </a>
                }
            </div>
            <div class="header-title">
                <h3>@webNovel.Name</h3>
                <small>
                    @StringHelpers.GetCommaSpaceSeparatedString(webNovel.OriginalName, webNovel.Author)
                </small>
            </div>
        </div>
        <hr>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="panel">
            <div class="panel-body">
                <div class="panel panel-filled">
                    <div class="panel-heading">Description</div>
                    <div class="panel-body">@Html.Raw(webNovel.Description)</div>
                </div>
                <div class="panel panel-c-accent panel-filled">
                    <div class="panel-heading">Chapters</div>
                    <div class="panel-body">
                        @foreach (var chapter in webNovel.Chapters.OrderByDescending(c => c.CreationDate))
                        {
                            var chapterTitle = $"<b>Chapter {chapter.Number}</b>";
                            if (!string.IsNullOrEmpty(chapter.Title))
                            {
                                chapterTitle += $" - {chapter.Title}";
                            }
                            
                            <div class="flex-row justify-between align-center m-b-xs">
                                <div>
                                    <img src="/images/flags/@(chapter.Language.Code).png" width="20" alt="@chapter.Language.GlobalName"/>
                                    <a class="c-white" asp-action="Read" asp-route-chapterNumber="@chapter.Number" asp-route-webNovelUrl="@webNovel.UrlName">
                                        @Html.Raw(chapterTitle)
                                    </a>
                                </div>
                                <div class="flex-row align-center">
                                    <div style="padding-right: 1em">
                                        <i class="far fa-calendar-alt"></i>
                                        @chapter.CreationDate.ToFormattedString()
                                    </div>
                                    <div>
                                        <a class="btn btn-accent text-uppercase font-bold c-white" asp-action="Read" asp-route-chapterNumber="@chapter.Number" asp-route-webNovelUrl="@webNovel.UrlName">
                                            Read <i class="fas fa-chevron-right"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>