@model EditChapterTranslationViewModel

@{
    ViewBag.Title = $"Edit Chapter {Model.Number} – {Model.Title}";
    var settings = new LayoutSettings();
    settings.ActivateLibrary(Constants.Libraries.Datepicker);
    settings.ActivateLibrary(Constants.Libraries.Select2);
    settings.ActivateLibrary(Constants.Libraries.Summernote);
    ViewBag.Settings = settings;
}

<div class="row">
    <div class="col-lg-12">
        <div class="view-header">
            <div class="header-icon">
                <i class="fal fa-book fa-sm"></i>
            </div>
            <div class="header-title">
                <h3>@Model.WebNovelContent.Name</h3>
                <small>
                    Edit chapter @Model.Number – @Model.Title
                </small>
            </div>
        </div>
        <hr>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="panel">
            <div class="panel-body">
                <form asp-action="EditChapterTranslation" method="post">
                    @Html.ValidationSummary(true, null, new {@class="alert alert-danger"})
                    <input type="hidden" asp-for="WebNovelChapterContentId"/>
                    @if (Model.WebNovel.UsesVolumes)
                    {
                        <div class="form-group">
                            <label>Volume</label>
                            <input type="number" asp-for="Volume" class="form-control" placeholder="Volume" readonly="readonly">
                            <span class="help-block small">
                                <span asp-validation-for="Volume" class="text-danger"></span>
                            </span>
                        </div>
                    }
                    <div class="form-group">
                        <label>Chapter Number</label>
                        <input type="number" asp-for="Number" class="form-control" placeholder="Chapter Number" readonly="readonly">
                        <span class="help-block small">
                            <span asp-validation-for="Number" class="text-danger"></span>
                        </span>
                    </div>
                    <div class="form-group">
                        <label>Title</label>
                        <input type="text" asp-for="Title" class="form-control" placeholder="Chapter Title">
                        <span class="help-block small">
                            <div>Chapter title (3-64 chars)</div>
                            <span asp-validation-for="Title" class="text-danger"></span>
                        </span>
                    </div>
                    <div class="form-group">
                        <label>Language</label>
                        <select class="select2 form-control" asp-for="LanguageId" asp-items="@(new SelectList(Model.Languages, "Id", "LocalName"))"></select>
                        <span class="help-block small">
                            <div>Text language</div>
                            <span asp-validation-for="LanguageId" class="text-danger"></span>
                        </span>
                    </div>
                    <div class="form-group">
                        <label>Body</label>
                        <textarea type="text" asp-for="Text" class="form-control summernote"></textarea>
                        <span class="help-block small">
                            <span asp-validation-for="Text" class="text-danger"></span>
                        </span>
                    </div>
                    <div class="form-group">
                        <div class="checkbox">
                            <input type="checkbox" asp-for="IsAdultContent">
                            <label asp-for="IsAdultContent">Is 18+</label>
                        </div>
                        <span class="help-block small">
                            <div>Please, check this if web novel contains lots of erotic and/or pornographic material</div>
                            <span asp-validation-for="IsAdultContent" class="text-danger"></span>
                        </span>
                    </div>
                    <div class="form-group">
                        <label>Free To Access Date</label>
                        <input type="text" id="freeToAccessDateInput" asp-for="FreeToAccessDate" class="form-control" placeholder="Free To Access Date">
                        <span class="help-block small">
                            <div>Date when this chapter becomes free</div>
                            <span asp-validation-for="FreeToAccessDate" class="text-danger"></span>
                        </span>
                    </div>
                    <button type="submit" class="btn btn-accent">
                        Update Chapter
                    </button>
                    <a class="btn btn-default" asp-action="Read" asp-route-webNovelUrl="@Model.WebNovel.UrlName" asp-route-chapterNumber="@Model.Number" asp-route-languageCode="@Model.WebNovelContent.Language.Code">
                        Cancel
                    </a>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <script type="text/javascript">
        $(document).ready(function() {
            $('#freeToAccessDateInput').datepicker({
                format: '@Constants.Misc.DateFormatJs',
                autoclose: true
            });

            $(".select2").select2();
        });
    </script>
}