@model WebNovelIndexViewModel

@{
    ViewBag.Title = Localizer["PageTitle"];
}

<div class="row">
    <div class="col-lg-12">
        <div class="view-header">
            <div class="header-icon">
                <i class="fal fa-book fa-sm"></i>
            </div>
            <div class="pull-right text-right">
                @if (User.HasWebNovelEditorAccess())
                {
                    <a class="btn btn-lg btn-default" asp-action="AddWebNovel">
                        <i class="far fa-plus"></i>
                        @Localizer["NewNovelButton"]
                    </a>
                }
            </div>
            <div class="header-title">
                <h3>@Localizer["HeaderTitle"]</h3>
                <small>@Localizer["HeaderDescription"]</small>
            </div>
        </div>
        <hr>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="panel">
            <div class="panel-body">
                @if (Model.Items.Any())
                {
                    foreach (var item in Model.Items)
                    {
                         <partial name="_WebNovelItem" model="@item"/>
                    }
                    <paginator asp-action="Index" model="@Model"/>
                }
                else
                {
                    <div>@Localizer["NoWebNovelsMessage"]</div>
                }
            </div>
        </div>
    </div>
</div>