@using Cerberus.Models.Helpers
@model WebNovelReadViewModel

@{
    var title = $"Chapter {Model.Translation.Chapter.Number}";
    if (!string.IsNullOrEmpty(Model.Translation.Title))
    {
        title += $" - {Model.Translation.Title}";
    }

    ViewBag.Title = $"{Model.WebNovelContent.Name} - {title}";
}

<div class="row">
    <div class="col-lg-12">
        <div class="view-header">
            <div class="header-icon">
                <i class="fal fa-book fa-sm"></i>
            </div>
            <div class="pull-right text-right">
                @if (User.HasWebNovelEditorAccess())
                {
                    <a class="btn btn-lg btn-default" asp-action="EditChapterTranslation" asp-route-webNovelChapterContentId="@Model.Translation.Id">
                        <i class="far fa-pen"></i> Edit
                    </a>
                }
            </div>
            <div class="header-title">
                <h3>@title</h3>
                <small>
                    @StringHelpers.GetCommaSpaceSeparatedString(Model.WebNovelContent.Name, Model.Translation.Chapter.WebNovel.Author)
                </small>
            </div>
        </div>
        <hr>
    </div>
</div>

@if (!User.Identity.IsAuthenticated)
{
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-c-danger panel-filled">
                <div class="panel-heading">
                    Information
                </div>
                <div class="panel-body">
                    <p>Please, <a asp-area="" asp-controller="Account" asp-action="Login">Sign In</a> or <a asp-area="" asp-controller="Account" asp-action="Register">Sign Up</a></p>
                    <p>As an unauthorized user you may experience some language issues as language prioritizing is available only to authorized members</p>
                </div>
            </div>
        </div>
    </div>
}

<div class="row">
    <div class="col-md-12">
        <div class="panel">
            <div class="panel-body">
                <div class="m-b">
                    <partial name="_ChapterMiniPaginator" model="@Model"/>
                </div>
                @Html.Raw(Model.Translation.Text)
            </div>
            <div class="panel-footer">
                <partial name="_ChapterMiniPaginator" model="@Model"/>
            </div>
        </div>
    </div>
</div>

<script>
    var readPageScriptLoadTime = $.now();
    $(document).keydown(function(e) {
        if ($.now() - readPageScriptLoadTime < 500) // 0.5s multiple redirect prevention
            return;
        
        if (e.which == 37) {
            $(location).attr('href', $('a#readPrev').attr('href'));
        } else if (e.which == 39) {
            $(location).attr('href', $('a#readNext').attr('href'));
        }
    });
</script>